<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link href="css/style.css" rel="stylesheet">-->
</head>

<body>
	<div>
		<h1>We will be right back</h1>
		<p>The site is currently being updated, we will be back soon.</p>
	</div>
</body>

</html>