<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link href="css/style.css" rel="stylesheet">-->
</head>

<body>
	{{> header}}
	<div>
		<p>This is a projects page, a place for viewing portfolio.</p>
	</div>
	{{> footer}}
</body>

</html>